<script setup>
  import { RouterLink, RouterView } from "vue-router";   
  import { ref } from "vue";

  import {
    InformationCircleIcon 
  } from "@heroicons/vue/outline";

  const props = defineProps({
    showalert: {
      type: Boolean,
      default: false,
    },
    pesan: {
      type: String,
      default: "",
    },
  });

 



</script>

<template> 
  <div aria-live="assertive" 
    class="fixed inset-0 flex items-end px-4 py-6 top-10
      pointer-events-none sm:p-6 
      sm:items-start z-[1000000000]">
    <div class="w-full flex flex-col items-center space-y-4 sm:items-end">
      <!-- Notification panel, dynamically insert this into the live region when it needs to be displayed -->
      <transition enter-active-class="transform ease-out duration-300 transition" 
        enter-from-class="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2" 
        enter-to-class="translate-y-0 opacity-100 sm:translate-x-0" 
        leave-active-class="transition ease-in duration-100" 
        leave-from-class="opacity-100" 
        leave-to-class="opacity-0">
        <div v-if="props.showalert" class="max-w-sm w-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden">
          <div class="p-4">
            <div class="flex items-start">
              <div class="flex-shrink-0">
                <InformationCircleIcon class="h-6 w-6 text-red-400" aria-hidden="true" />
              </div>
              <div class="ml-3 w-0 flex-1 pt-0.5">
                <p class="text-sm font-medium text-gray-900">{{ props.pesan }}</p>
              </div> 
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>  
</template>
