<script setup>
  import { RouterLink, RouterView } from "vue-router";   
  import { ref, onBeforeMount } from "vue"; 
  import Router from '../router';
  import SideBarCom from "@/views/SideBar.vue";
  import TopNavCom from "@/views/TopNavigation.vue";
  import axios from "axios";
  import Constant from "@/components/Constant.vue"; 
  import AlertCom from "@/views/Alert.vue";   
 
 
    
  const sidebarOpen = ref(false);

  function handleSidebar(payload) { 
    sidebarOpen.value = payload; 
  }  

  // alert 
  const showalert = ref(false);
  const pesanalert = ref("");  

  // main 
  onBeforeMount (() => {    
    
  })

  
</script>
    
<template>
  <!-- alert --> 
  <AlertCom :showalert="showalert" :pesan="pesanalert" />  
  
  <div class="min-h-full">
    <SideBarCom @openSidebar="handleSidebar" :sidebarOpen="sidebarOpen" />   

    <div class="lg:pl-64 flex flex-col flex-1"> 
      <TopNavCom @openSidebar="handleSidebar"/>       

      <main class="flex-1">    
        <div class="mt-4">
          <div class="mx-auto px-4 sm:px-6 lg:px-8">
            <!-- breadcumb -->
            <nav class="rounded-md w-full">
              <ol class="list-reset flex">
                <li><span class="text-gray-500 text-xl">Dashboard</span></li> 
              </ol>
            </nav>  

            <div class="mt-2 px-4 py-4 bg-white">  
              <div class="md:flex md:flex-1">
                 
              </div>

              <div class="bg-red-300 overflow-x-auto mt-5">
                <div class="shadow ring-1 ring-black ring-opacity-5 md:rounded-sm">
                  
                </div> 
              </div> 
            </div>
          </div> 
        </div>
      </main>
    </div>
  </div> 
</template>
     