<template>  
  <div class="grid grid-cols-6 bg-red-300">
    <div class="col-span-4 sm:col-span-6 bg-blue-200">01</div>
    <div class="col-span-2 sm:col-span-6 bg-blue-300">02</div> 
  </div>
</template>
