<script setup>
  import { useRouter, RouterLink, RouterView } from "vue-router";   
  import { ref, onMounted, onBeforeMount } from "vue";
  import  axios from "axios"; 
 
  import Constant from "@/components/Constant.vue"; 
  import { useToast } from "vue-toastification";

  import {
    UserIcon, 
    EyeIcon,
    LockClosedIcon
  } from "@heroicons/vue/outline";
  
  const router = useRouter()
  const toast = useToast();  
  const nama  = ref("DF-1")
  const password = ref("pass12345") 
  const remember = ref(false)
 
  
  async function login()
  {  
    const datakirim = {
      nik: nama.value,
      password: password.value,  
      app_v:Constant.APP_VER
    };  
    await axios
    .post(Constant.API_ADDR + "v1/auth/login", datakirim)
    .then((response) => {    
      if(response.status == 200)
      { 
        if(remember.value === true)
        {
          localStorage.setItem("nomerid", nama.value);
          localStorage.setItem("passid", password.value); 
        }
        localStorage.setItem("token", response.data.data.em_login_token);
        router.push({ name: 'home' }) 
      }  
    })
    .catch((errros) => {         
      if(errros.response.status == 400)
      {
        var psn  = errros.response.data.error 
        var keys = Object.keys(psn)
        for(var i= 0; i < keys.length;i++)
        {      
          toast.error(psn[keys[i]][0]);  
        }  
      } 
    });   
  }  

  onBeforeMount (() => {    
    /* */
    if(localStorage.getItem('nomerid') != "" && localStorage.getItem('nomerid') != null ){ nama.value = localStorage.getItem('nomerid') }
    if(localStorage.getItem('passid') != "" && localStorage.getItem('passid') != null){ password.value = localStorage.getItem('passid') }
    const x = localStorage.getItem('token')   
    if( x != "" || x != null)
    {
      axios.post(Constant.API_ADDR + "v1/auth/check-auth", {}, {
        headers: {
          'x-api-key': x
        }
      }).then((response) => {    
        router.push({ name: 'home' })  
      })
      .catch((errros) => { 
        // console.log(errros)
        if(errros.response.status == 400)
        { 
          var psn  = errros.response.data.error 
          if(typeof(psn) != "string")
          {
            var keys = Object.keys(psn)
            for(var i= 0; i < keys.length;i++)
            {           
              toast.error(psn[keys[i]][0]); 
            }   
          }
          else
          { 
            toast.error(errros.response.data.error); 
          } 
          localStorage.removeItem('token')  
        } 
      });   
    } 
    
  })

  

</script>
<template>  
  <section class="h-screen bg-[#3589BA]">  
    <div class="px-6 h-full text-gray-800">
      <div class="flex  
        xl:justify-center 
        lg:justify-between 
        justify-center 
        items-center 
        flex-wrap 
        h-full p-8"
      >
        <div class="grow-0
          shrink-1 
          md:shrink-0 
          basis-auto 
          xl:w-6/12 
          lg:w-6/12 
          md:w-9/12 
          mb-4"           
        >
          <img
            src="../assets/imglogin.png"
            class="w-1/2 mx-auto"
            alt="Sample image"
          />
        </div>
        
        <div class="xl:ml-20 md:w-4/12 
          mb-12 md:mb-0 bg-white p-10 rounded-lg">
          <form>
            <div class="flex flex-row items-center justify-center lg:justify-start mb-16">              
              <img
                src="../assets/logo.png"
                class="w-1/2 mx-auto"
                alt="Sample image"
              />
            </div>   
            <!-- Phone input -->
            <div class="mb-6">
              <label class="font-medium font-bold">Nomer ID</label> 
              <div class="relative flex w-full mb-2"> 
                <input
                  type="text"
                  class="form-control block w-full mt-2 px-10 py-2 
                  text-xl font-normal text-gray-700
                  bg-slate-100 bg-clip-padding 
                  border border-solid border-gray-300 
                  rounded-md transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"               
                  placeholder="Masukan ID"
                  v-model="nama"
                />
                <span class="z-10 h-full leading-snug font-normal
                  text-center text-[#CCCCCC]
                  absolute bg-transparent rounded text-base 
                  justify-center w-10 left-0 py-2">
                  <UserIcon class="h-6 w-6 mx-auto mt-3" aria-hidden="true" />     
                </span>
              </div>  
            </div>
            <!-- Password input -->
            <div class="mb-6">
              <label class="font-medium font-bold">Password</label>

              <div class="relative flex w-full mb-2"> 
                <span class="z-10 h-full leading-snug font-normal
                  text-center text-[#CCCCCC]
                  absolute bg-transparent rounded text-base 
                  justify-center w-10 left-0 py-2">
                  <LockClosedIcon class="h-6 w-6 mx-auto mt-3" aria-hidden="true" />     
                </span>
                <input
                  type="password"
                  class="form-control block w-full mt-2 px-10 py-2 
                  text-xl font-normal text-gray-700
                  bg-slate-100 bg-clip-padding 
                  border border-solid border-gray-300 
                  rounded-md transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"               
                  placeholder="Masukan Password"
                  v-model="password"
                />
                <span class="z-10 h-full leading-snug font-normal
                  text-center text-[#CCCCCC]
                  absolute bg-transparent rounded text-base 
                  justify-center w-10 right-0 py-2">
                  <EyeIcon class="h-6 w-6 mx-auto mt-3" aria-hidden="true" />     
                </span>
              </div>                  
            </div>
            <div class="mb-6"> 
              <div class="flex items-center h-5 gap-x-2">
                <input type="checkbox" 
                class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" v-model="remember"/>
                <label class="font-medium text-gray-700">Tetap ingat Saya</label>
              </div> 
            </div>
            
            <div class="text-center mt-8 w-full">
              <button
                type="button"
                class="inline-block px-7 py-3 bg-[#3589BA] text-white h-12
                  font-medium text-sm leading-snug rounded shadow-md
                 hover:bg-blue-600 hover:shadow-lg focus:bg-blue-600 
                 focus:shadow-lg focus:outline-none focus:ring-0
                 active:bg-blue-600 active:shadow-lg transition 
                 duration-150 ease-in-out w-full"
                @click="login"
              >
                Login
              </button> 
            </div>
          </form>
        </div>
      </div>
    </div>
  </section> 
</template>
