<script setup>
  import { useRouter, RouterLink, RouterView } from "vue-router";   
  import { ref,  onBeforeMount } from "vue";
  
  import axios from "axios";
  import Constant from "@/components/Constant.vue"; 
  import { useToast } from "vue-toastification";
  import "vue-toastification/dist/index.css";


  import {
    Dialog,
    DialogOverlay, 
    TransitionChild,
    TransitionRoot,
    Disclosure, 
    DisclosureButton, 
    DisclosurePanel
  } from "@headlessui/vue";
  import { 
    HomeIcon,  
    XIcon,
    CalendarIcon, 
    ChartBarIcon, 
    FolderIcon, 
    InboxIcon, 
    UsersIcon
  } from "@heroicons/vue/outline";
   
  const toast = useToast();  
  const router = useRouter()
  const navigation = [
      { name: 'Dashboard', icon: HomeIcon, current: false, href: 'home' },
      { name: 'Karyawan', icon: HomeIcon, current: false, href: 'karyawan' },
      { name: 'Produk', icon: HomeIcon, current: false, href: 'produk' },
      {
          name: 'Team',
          icon: UsersIcon,
          current: false,
          children: [
          { name: 'Overview', href: '#' },
          { name: 'Members', href: '#' },
          { name: 'Calendar', href: '#' },
          { name: 'Settings', href: '#' },
          ],
      },
      {
          name: 'Projects',
          icon: FolderIcon,
          current: false,
          children: [
          { name: 'Overview', href: '#' },
          { name: 'Members', href: '#' },
          { name: 'Calendar', href: '#' },
          { name: 'Settings', href: '#' },
          ],
      },
      {
          name: 'Calendar',
          icon: CalendarIcon,
          current: false,
          children: [
          { name: 'Overview', href: '#' },
          { name: 'Members', href: '#' },
          { name: 'Calendar', href: '#' },
          { name: 'Settings', href: '#' },
          ],
      },
      {
          name: 'Documents',
          icon: InboxIcon,
          current: false,
          children: [
          { name: 'Overview', href: '#' },
          { name: 'Members', href: '#' },
          { name: 'Calendar', href: '#' },
          { name: 'Settings', href: '#' },
          ],
      },
      {
          name: 'Reports',
          icon: ChartBarIcon,
          current: false,
          children: [
          { name: 'Overview', href: '#' },
          { name: 'Members', href: '#' },
          { name: 'Calendar', href: '#' },
          { name: 'Settings', href: '#' },
          ],
      },
  ]; 
   
  const props = defineProps({
    sidebarOpen: {
      type: Boolean,
      default: false,
    },
  });

  const emit = defineEmits(["openSidebar"]);

  function close() {
    emit("openSidebar", false);
  }

  function openmenu(menu)
  {  
    if(menu != '#')
    {
      router.push({ name: menu }) 
    } 
  }

  onBeforeMount (() => {    
    if( localStorage.getItem('token') != "" && localStorage.getItem('token') != null)
    {
      axios.post(Constant.API_ADDR + "v1/auth/check-auth", {}, {
        headers: {
          'x-api-key': localStorage.getItem('token') 
        }
      }).then((response) => {     

       
      })
      .catch((errros) => {  
        if(errros.response.status == 400)
        {  
          var psn  = errros.response.data.error 
          if(typeof(psn) != "string")
          {
            var keys = Object.keys(psn)
            for(var i= 0; i < keys.length;i++)
            {          
              
              toast.error(psn[keys[i]][0]);  
            }   
            localStorage.clear() 
            router.push({ name: 'login' })  
          }
          else
          { 
            toast.error(errros.response.data.error); 
            localStorage.clear() 
            router.push({ name: 'login' })  
          } 
        } 
      });   
    }
    else
    {
      router.push({ name: 'login' })  
    }
  })
 

 
  
</script>
    
<template> 
  <div class="min-h-full">    
    <TransitionRoot as="template" :show="props.sidebarOpen">
      <Dialog
        as="div"
        class="fixed inset-0 flex z-40 lg:hidden" 
        @close="close"
      >
        <TransitionChild
          as="template"
          enter="transition-opacity ease-linear duration-300"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="transition-opacity ease-linear duration-300"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <DialogOverlay class="fixed inset-0 bg-gray-600 bg-opacity-75" />
        </TransitionChild>
        <TransitionChild
          as="template"
          enter="transition ease-in-out duration-300 transform"
          enter-from="-translate-x-full"
          enter-to="translate-x-0"
          leave="transition ease-in-out duration-300 transform"
          leave-from="translate-x-0"
          leave-to="-translate-x-full"
        >
          <div
            class="relative flex-1 flex flex-col max-w-xs w-full pt-5 pb-4 bg-cyan-700"
          >
            <TransitionChild
              as="template"
              enter="ease-in-out duration-300"
              enter-from="opacity-0"
              enter-to="opacity-100"
              leave="ease-in-out duration-300"
              leave-from="opacity-100"
              leave-to="opacity-0"
            >
              <div class="absolute top-0 right-0 -mr-12 pt-2">
                <button
                  type="button"
                  class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                  @click="close"
                >
                  <span class="sr-only">Close sidebar</span>
                  <XIcon class="h-6 w-6 text-white" aria-hidden="true" />
                </button>
              </div>
            </TransitionChild>
            <div class="flex-shrink-0 flex items-center px-4">
              <img
                class="h-8 w-auto"
                src="https://tailwindui.com/img/logos/easywire-logo-cyan-300-mark-white-text.svg"
                alt="Easywire logo"
              />
            </div>
            <nav
              class="mt-5 flex-shrink-0 h-full divide-y divide-cyan-800 overflow-y-auto"
              aria-label="Sidebar"
            >
              <div class="px-2 space-y-1">
                <!-- nav 1 mini :href="item.href" -->
                <template v-for="item in navigation" :key="item.name">

                  <div v-if="!item.children">
                    <a @click = openmenu(item.href)  
                      :class="[
                      item.current 
                      ? 'bg-cyan-800 text-white'
                      : 'text-cyan-100 hover:text-white hover:bg-cyan-600',
                      'group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md cursor-pointer']"> 
                      <component
                      :is="item.icon"
                      class="mr-4 flex-shrink-0 h-6 w-6 text-cyan-200 cursor-pointer"
                      aria-hidden="true"
                      />
                      {{ item.name }} 
                    </a> 
                  </div>
                  
                  <Disclosure as="div" v-else class="space-y-1" v-slot="{ open }">
                  <DisclosureButton 
                    :class="[
                    item.current 
                    ? 'bg-cyan-800 text-white'
                    : 'text-cyan-100 hover:text-white hover:bg-cyan-600',
                    'group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md',
                    'group w-full flex items-center pl-2 pr-1 py-2 text-left text-sm font-medium rounded-md focus:outline-none cursor-pointer']
                  ">                                            
                    <component
                    :is="item.icon"
                    class="mr-4 flex-shrink-0 h-6 w-6 text-cyan-200 cursor-pointer"
                    aria-hidden="true"
                    /> 
                    <span class="flex-1">
                      {{ item.name }}
                    </span>
                    <!-- icon dropdown -->
                    <svg :class="[open ? 'text-gray-400 rotate-90' : 'text-gray-300', 'ml-3 flex-shrink-0 h-5 w-5 transform group-hover:text-gray-400 transition-colors ease-in-out duration-150']" viewBox="0 0 20 20" aria-hidden="true">
                      <path d="M6 6L14 10L6 14V6Z" fill="currentColor" />
                    </svg> 
                  </DisclosureButton>
                  <DisclosurePanel class="space-y-1">
                    <DisclosureButton v-for="subItem in item.children" 
                    :key="subItem.name" as="a" 
                    :href="subItem.href"                           
                    class="group w-full flex items-center pl-12 pr-2 py-2 text-sm font-medium text-cyan-100 rounded-md hover:text-white hover:bg-cyan-600">                            
                    {{ subItem.name }}
                    </DisclosureButton>
                  </DisclosurePanel>
                  </Disclosure>
                </template> 
              </div>
            </nav>
          </div>
        </TransitionChild>
        <div class="flex-shrink-0 w-14" aria-hidden="true">
          <!-- Dummy element to force sidebar to shrink to fit close icon -->
        </div>
      </Dialog>
    </TransitionRoot> 

    <!-- Static sidebar for desktop -->
    <div class="hidden lg:flex lg:w-64 lg:flex-col lg:fixed lg:inset-y-0">
      <!-- Sidebar component, swap this element with another sidebar if you like -->
      <div
        class="flex flex-col flex-grow bg-cyan-700 pt-5 pb-4 overflow-y-auto"
      >
        <div class="flex items-center flex-shrink-0 px-4">
          <img
            class="h-8 w-auto"
            src="https://tailwindui.com/img/logos/easywire-logo-cyan-300-mark-white-text.svg"
            alt="Easywire logo"
          />
        </div>
        <nav
          class="mt-5 flex-1 flex flex-col divide-y divide-cyan-800 overflow-y-auto"
          aria-label="Sidebar"
        >
          <div class="px-2 space-y-1"> 
            <template v-for="item in navigation" :key="item.name">
              <div v-if="!item.children">
                <a @click = openmenu(item.href)   
                  :class="[
                  item.current 
                  ? 'bg-cyan-800 text-white'
                  : 'text-cyan-100 hover:text-white hover:bg-cyan-600',
                  'group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md cursor-pointer']"> 
                  <component
                  :is="item.icon"
                  class="mr-4 flex-shrink-0 h-6 w-6 text-cyan-200 cursor-pointer"
                  aria-hidden="true"
                  />
                  {{ item.name }} 
                </a> 
              </div>
              
              <Disclosure as="div" v-else class="space-y-1" v-slot="{ open }">
                <DisclosureButton 
                  :class="[
                  item.current 
                  ? 'bg-cyan-800 text-white'
                  : 'text-cyan-100 hover:text-white hover:bg-cyan-600',
                  'group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md',
                  'group w-full flex items-center pl-2 pr-1 py-2 text-left text-sm font-medium rounded-md focus:outline-none cursor-pointer']
                ">                                            
                  <component
                  :is="item.icon"
                  class="mr-4 flex-shrink-0 h-6 w-6 text-cyan-200 cursor-pointer"
                  aria-hidden="true"
                  /> 
                  <span class="flex-1">
                    {{ item.name }}
                  </span>
                  <!-- icon dropdown -->
                  <svg :class="[open ? 'text-gray-400 rotate-90' : 'text-gray-300', 'ml-3 flex-shrink-0 h-5 w-5 transform group-hover:text-gray-400 transition-colors ease-in-out duration-150']" viewBox="0 0 20 20" aria-hidden="true">
                    <path d="M6 6L14 10L6 14V6Z" fill="currentColor" />
                  </svg> 
                </DisclosureButton>
                <DisclosurePanel class="space-y-1">
                  <DisclosureButton v-for="subItem in item.children" 
                  :key="subItem.name" as="a" 
                  :href="subItem.href"                           
                  class="group w-full flex items-center pl-12 pr-2 py-2 text-sm font-medium text-cyan-100 rounded-md hover:text-white hover:bg-cyan-600">                            
                  {{ subItem.name }}
                  </DisclosureButton>
                </DisclosurePanel>
              </Disclosure>
            </template> 
          </div>
          
        </nav>
      </div>
    </div>
  </div> 
</template>
     