<script setup>
  import { useRouter, RouterLink, RouterView } from "vue-router";   
  import { ref } from "vue";  
  import axios from "axios"; 
  
  import Constant from "@/components/Constant.vue";
  import { useToast } from "vue-toastification";


  import { 
    Menu,
    MenuButton,
    MenuItem,
    MenuItems,  
  } from "@headlessui/vue";
  import {  
    BellIcon,     
    MenuAlt1Icon,  
  } from "@heroicons/vue/outline";
  import {  
    ChevronDownIcon,   
  } from "@heroicons/vue/solid";   
    
  const toast = useToast();  
  const router = useRouter()

  const emit = defineEmits(["openSidebar"]); 
  function opensidebar() {
    emit("openSidebar", true);
  } 
 

  async function logout(){ 
    const x = localStorage.getItem('token')
    if( x.length > 0)
    {
      await axios.post(Constant.API_ADDR + "v1/auth/logout", {}, {
        headers: {
          'x-api-key': x
        }
      }).then((response) => {  
        localStorage.clear()
        router.push({ name: 'login' })  
      })
      .catch((errros) => {  
        if(errros.response.status == 400)
        {                   
          toast.error(errros.response.data.error);  
        } 
      });   
    }
  } 
</script>

<template>   
  <div class="relative z-10 flex-shrink-0 flex h-16 bg-white border-b border-gray-200 lg:border-none"
  >
    <button
      type="button"
      class="px-4 border-r border-gray-200 text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-cyan-500 lg:hidden"
      @click="opensidebar"
    >
      <span class="sr-only">Open sidebar</span>
      <MenuAlt1Icon class="h-6 w-6" aria-hidden="true" />
    </button>  

    <!-- top bar -->
    <div class="flex-1 px-4 flex justify-end sm:px-6 lg:mx-auto lg:px-8">   
      <div class="ml-4 flex items-center md:ml-6">
        <button
          type="button"
          class="bg-white p-1 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500"
        >
          <span class="sr-only">View notifications</span>
          <BellIcon class="h-6 w-6" aria-hidden="true" />
        </button>

        <!-- Profile dropdown -->
        <Menu as="div" class="ml-3 relative">
          <div>
            <MenuButton
              class="max-w-xs bg-white rounded-full flex items-center text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 lg:p-2 lg:rounded-md lg:hover:bg-gray-50"
            >
              <img
                class="h-8 w-8 rounded-full"
                src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt=""
              />
              <span
                class="hidden ml-3 text-gray-700 text-sm font-medium lg:block"
                ><span class="sr-only">Open user menu for </span>Emilia
                Birch</span
              >
              <ChevronDownIcon
                class="hidden flex-shrink-0 ml-1 h-5 w-5 text-gray-400 lg:block"
                aria-hidden="true"
              />
            </MenuButton>
          </div>
          <transition
            enter-active-class="transition ease-out duration-100"
            enter-from-class="transform opacity-0 scale-95"
            enter-to-class="transform opacity-100 scale-100"
            leave-active-class="transition ease-in duration-75"
            leave-from-class="transform opacity-100 scale-100"
            leave-to-class="transform opacity-0 scale-95"
          >
            <MenuItems
              class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
            >
              <MenuItem v-slot="{ active }">
                <a
                  href="#"
                  :class="[
                    active ? 'bg-gray-100' : '',
                    'block px-4 py-2 text-sm text-gray-700',
                  ]"
                  >Your Profile</a
                >
              </MenuItem>
              <MenuItem v-slot="{ active }">
                <a
                  href="#"
                  :class="[
                    active ? 'bg-gray-100' : '',
                    'block px-4 py-2 text-sm text-gray-700',
                  ]"
                  >Settings</a
                >
              </MenuItem>
              <MenuItem v-slot="{ active }">
                <a
                  @click = "logout"
                  :class="[
                    active ? 'bg-gray-100' : '',
                    'block px-4 py-2 text-sm text-gray-700',
                  ]"
                  >Logout</a
                >
              </MenuItem>
            </MenuItems>
          </transition>
        </Menu>
      </div>
    </div> 
  </div> 
</template>
