<script setup>
  import { RouterLink, RouterView } from "vue-router";   
  import { ref } from "vue"; 

 
  const props = defineProps({
    showviewproduk: {
      type: Boolean,
      default: false,
    },
    data:{
      type: [Array, Object],
      required: true
    }
  });

  const emit = defineEmits(["showviewproduk"]); 
  
  function close() {
    emit("showviewproduk", false);
  }
   

 

</script>


<style> 
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>

 
<template>      
  <div v-if = "props.showviewproduk" 
    class="overflow-x-hidden 
    overflow-y-auto fixed inset-0 z-50   
    outline-none        
    focus:outline-none     
    justify-center items-start flex p-5 mt-20">
    
    <div class="relative w-full my-6 mx-auto max-w-3xl">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col 
        w-full bg-white 
        outline-none 
        focus:outline-none 
      ">
        <!--header-->
        <div class="flex 
          items-start justify-between 
          p-2 
          rounded-sm"
        >
          <h5 class="text-sm font-semibold mt-1 ml-2">
            Detail Stok
          </h5>
          <button class="p-1
            bg-blue
            border-0 
            text-gray-900
            text-xl 
            leading-none 
            font-semibold outline-none 
            focus:outline-none
            hover:text-blue-400
            hover:uppercase 
            " 
            v-on:click="close">x            
          </button>
        </div>
        <!--body-->        
        <div class="relative p-2 text-gray-700"> 
          <!-- info stok -->
          <div class="md:flex w-full">
            <!-- tipe, merk, nama, tag -->
            <div class="ml-2 mt-2 md:w-1/2 space-y-2">
              <div class="grid grid-cols-3">
                <label class="block text-sm font-medium text-gray-700"> Tipe </label>
                <div class="col-span-2">
                  <label class="block text-sm py-auto font-bold text-gray-700"> : {{props.data.name}} </label>              
                </div> 
              </div> 
              <div class="grid grid-cols-3">
                <label class="block text-sm font-medium text-gray-700"> Merk </label>
                <div class="col-span-2">
                  <label class="block text-sm py-auto font-bold text-gray-700"> : {{props.data.name}} </label>              
                </div> 
              </div>    
              <div class="grid grid-cols-3">
                <label class="block text-sm font-medium text-gray-700"> Nama </label>
                <div class="col-span-2">
                  <label class="block text-sm py-auto font-bold text-gray-700"> : {{props.data.name}} </label>              
                </div> 
              </div>   
              
              <div class="grid grid-cols-3">
                <label class="block text-sm font-medium text-gray-700"> Tag </label>
                <div class="col-span-2">
                  <label class="block text-sm py-auto font-bold text-gray-700"> : {{props.data.name}} </label>              
                </div> 
              </div>    
                
            </div>

            <!-- berat, ukuran, stok, catatan -->
            <div class="ml-2 mt-2 md:mr-2 md:w-1/2 space-y-2">
              <div class="grid grid-cols-3">
                <label class="block text-sm font-medium text-gray-700"> Berat </label>
                <div class="col-span-2">
                  <label class="block text-sm py-auto font-bold text-gray-700"> : {{props.data.name}} </label>              
                </div> 
              </div> 
              <div class="grid grid-cols-3">
                <label class="block text-sm font-medium text-gray-700"> Ukuran </label>
                <div class="col-span-2">
                  <label class="block text-sm py-auto font-bold text-gray-700"> : {{props.data.name}} </label>              
                </div> 
              </div>    
              <div class="grid grid-cols-3">
                <label class="block text-sm font-medium text-gray-700"> Stok </label>
                <div class="col-span-2">
                  <label class="block text-sm py-auto font-bold text-gray-700"> : {{props.data.name}} </label>              
                </div> 
              </div>   
              
              <div class="grid grid-cols-3">
                <label class="block text-sm font-medium text-gray-700"> Catatan </label>
                <div class="col-span-2">
                  <label class="block text-sm font-bold text-gray-700"> : {{props.data.name}} </label>              
                </div> 
              </div> 
            </div> 
          </div>

          <hr />
        </div>
       
        <!--footer-->
        <div class="flex items-center justify-end p-6 rounded-b">
          <button class="text-white 
            bg-[#1B74ED]
            border border-solid border-[#1B74ED] hover:bg-blue-700 hover:text-white
            active:bg-blue-600 font-bold 
            text-sm px-4 py-2 rounded 
            outline-none 
            focus:outline-none mr-1 mb-0 ease-linear transition-all duration-150" 
            type="button" v-on:click="close">
            Simpan
          </button> 
          <button class="text-white 
            bg-gray-400
            border border-solid border-gray-400 hover:bg-gray-600 hover:text-white
            active:bg-gray-400 font-bold 
            text-sm px-4 py-2 rounded 
            outline-none 
            focus:outline-none mr-1 mb-0 ease-linear transition-all duration-150" 
            type="button" v-on:click="close">
            Batal
          </button>  
        </div>
      </div>
    </div>
  </div>  
</template>
