<script setup>
  import { RouterLink, RouterView } from "vue-router";   
  import { ref } from "vue"; 

  import {   
    SearchIcon,
  } from "@heroicons/vue/solid";  
  
  const props = defineProps({
    showaddmutasi: {
      type: Boolean,
      default: false,
    },
  });

  const emit = defineEmits(["showaddmutasi"]); 
  const ptipemutasi = [
    { id: 'nospk', title: 'Tanpa SPK' },
    { id: 'spk', title: 'Dengan SPK' },   
  ]
  const tipemutasi = ref("Tanpa SPK")
  const nospk = ref("")

  const ptipe = ref([
    {'id': 1, 'nama': 'Tinta'},
    {'id': 2, 'nama': 'Kertas'},
  ])

  const barang = ref([
    { id: 1, merk: 'A', nama: 'CAT A', stok: 100, ckbarang: false },    
    { id: 2, merk: 'B', nama: 'CAT B', stok: 100, ckbarang: false },    
    { id: 3, merk: 'C', nama: 'CAT C', stok: 100, ckbarang: false },    
    { id: 4, merk: 'D', nama: 'CAT D', stok: 100, ckbarang: false },    
    { id: 5, merk: 'E', nama: 'CAT E', stok: 100, ckbarang: false },    
    { id: 6, merk: 'F', nama: 'CAT F', stok: 100, ckbarang: false },    
    { id: 7, merk: 'G', nama: 'CAT G', stok: 100, ckbarang: false },    
    { id: 8, merk: 'H', nama: 'CAT H', stok: 100, ckbarang: false },    
    { id: 9, merk: 'I', nama: 'CAT I', stok: 100, ckbarang: false },  
    
    { id: 11, merk: 'A', nama: 'CAT A', stok: 100, ckbarang: false },    
    { id: 12, merk: 'B', nama: 'CAT B', stok: 100, ckbarang: false },    
    { id: 13, merk: 'C', nama: 'CAT C', stok: 100, ckbarang: false },    
    { id: 14, merk: 'D', nama: 'CAT D', stok: 100, ckbarang: false },    
    { id: 15, merk: 'E', nama: 'CAT E', stok: 100, ckbarang: false },    
    { id: 16, merk: 'F', nama: 'CAT F', stok: 100, ckbarang: false },    
    { id: 17, merk: 'G', nama: 'CAT G', stok: 100, ckbarang: false },    
    { id: 18, merk: 'H', nama: 'CAT H', stok: 100, ckbarang: false },    
    { id: 19, merk: 'I', nama: 'CAT I', stok: 100, ckbarang: false },  
  ])

  const tmpmutasi = ref([])
  const caribarang = ref('')
   
  function close() {
    emit("showaddmutasi", false);
  }
  
  function pilihtipe(){
    if(tipemutasi.value ==='Tanpa SPK')
    nospk.value = "" 
  } 
  
  function pilihbarang(e, data) {
    const a = e.target.checked;
    if (a == true) {
      tmpmutasi.value.push({
        id: data.id,
        merk: data.merk,
        nama: data.nama,
        stok: data.stok,
        mutasi: 0,
      });
    } else {
      tmpmutasi.value = tmpmutasi.value.filter((item) => item.id != data.id);
    }
  }

  function batalpilih(data){
    tmpmutasi.value = tmpmutasi.value.filter((item) => item.id != data.id);
    const newcentang = ref([]);
    barang.value.forEach((item) => {
      if (data.id == item.id) {
        newcentang.value.push({
          id: item.id,
          merk: item.merk,
          nama: item.nama,
          stok: item.stok,
          ckbarang: false,
        });
      } else {
        newcentang.value.push({
          id: item.id,
          merk: item.merk,
          nama: item.nama,
          stok: item.stok,
          ckbarang: item.ckbarang,
        });
      }
    });
    barang.value = newcentang.value; 
  } 

  function addpilih(item) {
    item.mutasi = item.mutasi + 1;
  }

  function minpilih(item) {
    item.mutasi = item.mutasi - 1;
  }

 

</script>


<style> 
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>

 
<template>      
  <div v-if = "props.showaddmutasi" 
    class="overflow-x-hidden 
    overflow-y-auto fixed inset-0 z-50   
    outline-none        
    focus:outline-none     
    justify-center items-start flex p-5 mt-20">
    
    <div class="relative w-full my-6 mx-auto max-w-3xl">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col 
        w-full bg-white 
        outline-none 
        focus:outline-none 
      ">
        <!--header-->
        <div class="flex 
          items-start justify-between 
          p-2 
          rounded-sm"
        >
          <h5 class="text-sm font-semibold mt-1 ml-2">
            Mutasi Produk
          </h5>
          <button class="p-1
            bg-blue
            border-0 
            text-gray-900
            text-xl 
            leading-none 
            font-semibold outline-none 
            focus:outline-none
            hover:text-blue-400
            hover:uppercase 
            " 
            v-on:click="close">x            
          </button>
        </div>
        <!--body-->        
        <div class="relative p-2"> 
          <div class="md:flex flex-1 gap-1"> 
            <div class="mb-4 md:w-1/2">
              <div class="mt-2 px-2 grid grid-cols-1 gap-y-6 gap-x-4 md:grid-cols-6">            
                <div class="md:col-span-6">  
                  <div class="flex gap-x-2"> 
                    <div class="relative w-full">                
                      <div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-10">
                        <div v-for="ptipemutasi in ptipemutasi" :key="ptipemutasi.id" class="flex items-center">
                          <input :id="ptipemutasi.id" 
                            type="radio" 
                            :value="ptipemutasi.title"
                            v-model="tipemutasi" 
                            @change="pilihtipe"
                            class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" 
                            />
                          <label :for="ptipemutasi.id" class="ml-3 block text-sm font-medium text-gray-700">
                            {{ ptipemutasi.title }}
                          </label>
                        </div> 
                      </div>
                    </div> 
                  </div>
                </div> 

                <div class="md:col-span-6">
                  <label class="block text-sm font-medium text-gray-700"> No SPK</label>
                  <div class="mt-1"> 
                    <input class="appearance-none block w-full text-sm
                    text-gray-700 
                    border border-gray-200 
                    rounded-sm py-2 px-2 
                    focus:outline-none focus:bg-gray-50" 
                    type="text" placeholder="Masukan No SPK" 
                    :readonly="tipemutasi === 'Tanpa SPK'"
                    v-model="nospk">
                  </div>
                </div>                

                <div class="md:col-span-6">
                  <label class="block text-sm font-medium text-gray-700"> Catatan </label>
                  <div class="mt-1">  
                    <textarea rows="3" class="block w-full py-2 px-2
                      text-gray-700 
                      border border-gray-200  
                      focus:outline-none focus:bg-gray-50
                      text-sm rounded-md" 
                    placeholder="Masukan Catatan" />
                  </div>
                </div> 
                <div class="md:col-span-6"> 
                  <div class="w-full relative md:mb-2">
                    <input
                      type="text"
                      class="
                      appearance-none block w-full text-sm
                      text-gray-700 
                      border border-gray-200 
                      rounded-sm py-2 px-2 
                      focus:outline-none focus:bg-gray-50
                      " 
                      placeholder="Cari Barang"
                      v-model="caribarang"
                    />  
                    <div class="flex absolute inset-y-0 right-0 items-center pr-2 pointer-events-none">
                      <SearchIcon class="h-4 w-4" aria-hidden="true" />                      
                    </div>  
                  </div>
                  
                </div>
                <div class="md:col-span-6">
                  <div class="overflow-x-auto overflow-y-auto h-60">
                    <div class="shadow ring-1 ring-black ring-opacity-5 md:rounded-sm">
                      <table class="min-w-full divide-y divide-gray-300 mb-2">
                        <thead class="bg-gray-50">
                          <tr>
                            <th scope="col" class="text-left py-1 text-sm font-semibold text-gray-900">#</th>
                            <th scope="col" class="text-left py-1 text-sm font-semibold text-gray-900">Merk</th>
                            <th scope="col" class="text-left py-1 text-sm font-semibold text-gray-900">Nama</th> 
                            <th scope="col" class="text-left py-1 text-sm font-semibold text-gray-900">Stok</th>                              
                          </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-white">
                          <tr v-for="barang in barang" :key="barang.id"> 
                            <td class="whitespace-nowrap py-1 text-sm text-gray-500 w-10">
                              <input :id="barang.id"  
                                type="checkbox" 
                                v-model="barang.ckbarang"
                                @change="pilihbarang($event, barang)"
                                class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" />
                            </td>
                            <td class="whitespace-nowrap py-1 text-sm text-gray-500">{{ barang.merk }}</td>
                            <td class="whitespace-nowrap py-1 text-sm text-gray-500">{{ barang.nama }}</td>
                            <td class="whitespace-nowrap py-1 text-sm text-gray-500">{{ barang.stok }}</td>                             
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    
                  </div>
                </div>    
              </div> 
            </div>
            <hr class="md:hidden" />
            <div class="bg-gray-50 md:w-1/2 mt-2 px-2">
              <dt class="text-sm font-bold text-gray-500">Produk dipilih</dt>
              <dd class="mt-1 text-sm text-gray-900">Minus untuk mengurangi stok dan plus untuk menambahkan stok</dd>
              <div class="overflow-x-auto overflow-y-auto md:h-5/6">
                <div class="shadow ring-0 ring-black ring-opacity-10 md:rounded-sm">
                  <table class="min-w-full divide-y divide-gray-300 mt-4">                      
                    <tbody class="divide-y divide-gray-200 bg-white">
                      <tr v-for="dt in tmpmutasi" :key="dt.id"> 
                        <td class="whitespace-nowrap py-1 text-sm text-gray-500 w-10">
                          <button class="p-1
                            bg-blue
                            border-0 
                            text-red-500
                            text-xl 
                            leading-none 
                            font-semibold outline-none 
                            focus:outline-none
                            hover:text-red-600
                            hover:text-2xl 
                            font-sans
                            " 
                            v-on:click="batalpilih(dt)">x            
                          </button>  
                        </td>
                        <td class="whitespace-nowrap py-1 text-sm text-gray-500">
                          {{ dt.merk }} - {{ dt.nama }} 
                          <br />
                          Stok {{ dt.stok }}
                        </td>
                        <td class="whitespace-nowrap py-1 px-0 text-sm text-gray-500 w-20">                          
                          <div class="flex justify-between gap-x-1 w-full">
                            <button type="button" 
                              class="mx-auto
                              bg-white text-red-500 
                              h-6 w-6
                              rounded-full 
                              font-bold 
                              focus:outline-none 
                              border-[2px] border-red-600" 
                              @click="minpilih(dt)">
                              -
                            </button> 
                            <div class="mt-1 border-b border-gray-300 focus-within:border-indigo-400">
                              <input type="number" class="w-16 text-center border-0 border-b border-transparent bg-gray-50
                               focus:border-indigo-400  
                               focus:outline-none
                               text-sm" 
                               placeholder="0" 
                               v-model="dt.mutasi"
                               />
                            </div>
                            <button type="button" 
                              class="mx-auto
                              bg-white text-lime-500 
                              h-6 w-6
                              rounded-full 
                              font-bold 
                              focus:outline-none 
                              border-[2px] border-lime-600" @click="addpilih(dt)">
                              +
                            </button> 
                          </div> 
                        </td> 
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </div>

            </div>
          </div>
        </div>
       
        <!--footer-->
        <div class="flex items-center justify-end p-6 rounded-b">
          <button class="text-white 
            bg-[#1B74ED]
            border border-solid border-[#1B74ED] hover:bg-blue-700 hover:text-white
            active:bg-blue-600 font-bold 
            text-sm px-4 py-2 rounded 
            outline-none 
            focus:outline-none mr-1 mb-0 ease-linear transition-all duration-150" 
            type="button" v-on:click="close">
            Simpan
          </button> 
          <button class="text-white 
            bg-gray-400
            border border-solid border-gray-400 hover:bg-gray-600 hover:text-white
            active:bg-gray-400 font-bold 
            text-sm px-4 py-2 rounded 
            outline-none 
            focus:outline-none mr-1 mb-0 ease-linear transition-all duration-150" 
            type="button" v-on:click="close">
            Batal
          </button>  
        </div>
      </div>
    </div>
  </div>  
</template>
