<script setup>
  import { RouterLink, RouterView } from "vue-router";   
  import { ref } from "vue"; 
  
  const props = defineProps({
    showaddproduk: {
      type: Boolean,
      default: false,
    },
  });

  const emit = defineEmits(["showaddproduk"]); 
  const ptipe = ref([
    {'id': 1, 'nama': 'Tinta'},
    {'id': 2, 'nama': 'Kertas'},
  ])

  function close() {
    emit("showaddproduk", false);
  }

</script>


<style> 
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>

 
<template>      
  <div v-if = "props.showaddproduk" 
    class="overflow-x-hidden 
    overflow-y-auto fixed inset-0 z-50   
    outline-none        
    focus:outline-none     
    justify-center items-start flex p-5 mt-20">
    
    <div class="relative w-full my-6 mx-auto max-w-3xl">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col 
        w-full bg-white 
        outline-none 
        focus:outline-none 
      ">
        <!--header-->
        <div class="flex 
          items-start justify-between 
          p-2 
          rounded-sm"
        >
          <h5 class="text-sm font-semibold mt-1 ml-2">
            Tambah Produk
          </h5>
          <button class="p-1
            bg-blue
            border-0 
            text-gray-900
            text-xl 
            leading-none 
            font-semibold outline-none 
            focus:outline-none
            hover:text-blue-400
            hover:uppercase 
            " 
            v-on:click="close">x            
          </button>
        </div>
        <!--body-->        
        <div class="relative p-2"> 
          <div class="mt-2 px-2 grid grid-cols-1 gap-y-6 gap-x-4 md:grid-cols-6">
            
            <div class="md:col-span-3">
              <label class="block text-sm font-medium text-gray-700"> Tipe <span class="text-red-500">*</span></label>
              <div class="mt-1">  
                <select  class="mt-1 block w-full 
                  pl-3 pr-10 py-2 
                  text-base
                  border border-gray-200 
                  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 
                  sm:text-sm rounded-md" 
                  placeholder="Pilih Tipe">
                  <option v-for="item in ptipe" key="item.id">{{ item.nama }}</option> 
                </select> 
              </div>
            </div>

            <div class="md:col-span-3">
              <label class="block text-sm font-medium text-gray-700"> Merk <span class="text-red-500">*</span></label>
              <div class="mt-1"> 
                <input class="appearance-none block w-full text-sm
                 text-gray-700 
                 border border-gray-200 
                 rounded-sm py-2 px-2 
                 focus:outline-none focus:bg-gray-50" 
                 type="text" placeholder="Masukan Merk">
              </div>
            </div>

            <div class="md:col-span-6">
              <label class="block text-sm font-medium text-gray-700"> Nama Produk <span class="text-red-500">*</span> </label>
              <div class="mt-1"> 
                <input class="appearance-none block w-full text-sm
                 text-gray-700 
                 border border-gray-200 
                 rounded-sm py-2 px-2 
                 focus:outline-none focus:bg-gray-50" 
                 type="text" placeholder="Masukan Nama">
              </div>
            </div>

            <div class="md:col-span-6">
              <label class="block text-sm font-medium text-gray-700"> Tag </label>
              <div class="mt-1"> 
                <input class="appearance-none block w-full text-sm
                 text-gray-700 
                 border border-gray-200 
                 rounded-sm py-2 px-2 
                 focus:outline-none focus:bg-gray-50" 
                 type="text" placeholder="Masukan Tag">
              </div>
            </div>  
            
            <div class="md:col-span-3">
              <label class="block text-sm font-medium text-gray-700"> Berat </label> 
              <div class="mt-1 relative rounded-md shadow-sm">                
                <input class="appearance-none block w-full text-sm
                 text-gray-700 
                 border border-gray-200 
                 rounded-sm py-2 px-2 
                 focus:outline-none focus:bg-gray-50" 
                 type="number" placeholder="Masukan Berat"> 
                <div class="absolute inset-y-0 right-0 flex items-center">   
                  <select class="focus:ring-indigo-50 focus:border-indigo-50 
                    h-full py-0 pl-2 pr-6
                    border-transparent bg-gray-100 text-gray-500 
                    text-sm 
                    rounded-md">
                    <option v-for="item in ptipe" key="item.id">{{ item.nama }}</option> 
                  </select>
                </div>
              </div>

            </div> 
            <div class="md:col-span-3"></div> 

            <div class="md:col-span-6">              
              <label class="block text-sm font-medium text-gray-700"> Ukuran </label>
              <div class="mt-1 flex gap-x-2"> 
                <div class="mt-1 relative rounded-md shadow-sm w-1/2">                
                  <input class="appearance-none block w-full text-sm
                    text-gray-700 
                    border border-gray-200 
                    rounded-sm py-2 px-2 
                    focus:outline-none focus:bg-gray-50" 
                    type="number" placeholder="Masukan Ukuran A"> 
                  <div class="absolute inset-y-0 right-0 flex items-center">   
                    <select class="focus:ring-indigo-50 focus:border-indigo-50 
                      h-full py-0 pl-2 pr-2
                      border-transparent bg-gray-100 text-gray-500 
                      text-sm 
                      rounded-md">
                      <option v-for="item in ptipe" key="item.id">{{ item.nama }}</option> 
                    </select>
                  </div>
                </div>
                <span class="mt-2">X</span>
                <div class="mt-1 relative rounded-md shadow-sm w-1/2">                
                  <input class="appearance-none block w-full text-sm
                    text-gray-700 
                    border border-gray-200 
                    rounded-sm py-2 px-2 
                    focus:outline-none focus:bg-gray-50" 
                    type="number" placeholder="Masukan Ukuran B"> 
                  <div class="absolute inset-y-0 right-0 flex items-center">   
                    <select class="focus:ring-indigo-50 focus:border-indigo-50 
                      h-full py-0 pl-2 pr-2
                      border-transparent bg-gray-100 text-gray-500 
                      text-sm 
                      rounded-md">
                      <option v-for="item in ptipe" key="item.id">{{ item.nama }}</option> 
                    </select>
                  </div>
                </div>
              </div>
            </div> 

            <div class="md:col-span-6">
              <label class="block text-sm font-medium text-gray-700"> Catatan </label>
              <div class="mt-1">  
                <textarea rows="3" class="block w-full py-2 px-2
                  text-gray-700 
                  border border-gray-200  
                  focus:outline-none focus:bg-gray-50
                  text-sm rounded-md" 
                 placeholder="Masukan Catatan" />
              </div>
            </div>  
            
          </div> 
        </div>
       
        <!--footer-->
        <div class="flex items-center justify-end p-6 rounded-b">
          <button class="text-white 
            bg-[#1B74ED]
            border border-solid border-[#1B74ED] hover:bg-blue-700 hover:text-white
            active:bg-blue-600 font-bold 
            text-sm px-4 py-2 rounded 
            outline-none 
            focus:outline-none mr-1 mb-0 ease-linear transition-all duration-150" 
            type="button" v-on:click="close">
            Simpan
          </button> 
          <button class="text-white 
            bg-gray-400
            border border-solid border-gray-400 hover:bg-gray-600 hover:text-white
            active:bg-gray-400 font-bold 
            text-sm px-4 py-2 rounded 
            outline-none 
            focus:outline-none mr-1 mb-0 ease-linear transition-all duration-150" 
            type="button" v-on:click="close">
            Batal
          </button>  
        </div>
      </div>
    </div>
  </div>  
</template>
