<script setup>
  import { RouterLink, RouterView } from "vue-router";   
  import { ref, onBeforeMount } from "vue"; 
  import SideBarCom from "@/views/SideBar.vue";
  import Constant from "@/components/Constant.vue";
  import axios from "axios";
  import AddProdukCom from "@/views/Produk/ModalAddProduk.vue";
  import AddMutasiCom from "@/views/Produk/ModalAddMutasi.vue";
  import ViewProdukCom from "@/views/Produk/ModalViewProduk.vue"; 
  import AlertCom from "@/views/Alert.vue"; 
  import TopNavCom from "@/views/TopNavigation.vue";


  
  import {
    EyeIcon,
    PencilIcon,
    TrashIcon,  
  } from "@heroicons/vue/outline";
  import {   
    SearchIcon,
  } from "@heroicons/vue/solid";  

  const people = [
    { name: 'Lindsay Walton', title: 'Front-end Developer', email: 'lindsay.walton@example.com', role: 'Member' },    
  ]
  // main form 

  onBeforeMount (() => {    
    
  })

  const caribarang = ref("");
  
  // sidebar 
  const sidebarOpen = ref(false);
  function handleSidebar(payload) { 
    sidebarOpen.value = payload; 
  } 

  // modal add produk
  const showaddproduk = ref(false);
  function handleAddProduk(payload) { 
    showaddproduk.value = payload; 
  }   
  function openaddproduk ()
  { 
    showaddproduk.value = true
  } 

  // modal add mutasi
  const showaddmutasi = ref(false);
  function handleAddMutasi(payload) { 
    showaddmutasi.value = payload; 
  }   
  function openaddmutasi()
  { 
    showaddmutasi.value = true
  } 

   // modal view Produk
  const showviewproduk = ref(false);
  const itemproduk = ref([]);
  function handleViewProduk(payload) { 
    showviewproduk.value = payload; 
  }   
  function openviewproduk(dt)
  { 
    itemproduk.value = dt;
    showviewproduk.value = true
  }

     // alert 
  const showalert = ref(false);
  const pesanalert = ref(""); 
  

  
</script>
    
<template>
  <AlertCom :showalert="showalert" :pesan="pesanalert" />  

  <div class="min-h-full">
    <SideBarCom @openSidebar="handleSidebar" :sidebarOpen="sidebarOpen" />   

    <div class="lg:pl-64 flex flex-col flex-1">
      <TopNavCom @openSidebar="handleSidebar"/>   
       

      <main class="flex-1">    
        <div class="mt-4">
          <div class="mx-auto px-4 sm:px-6 lg:px-8">
            <!-- breadcumb -->
            <nav class="rounded-md w-full">
              <ol class="list-reset flex">
                <li><span class="text-gray-500 text-xl">Stok</span></li>
                <li><span class="text-gray-500 mx-2"></span></li>
                <li><a href="#" class="text-blue-600 hover:text-blue-700">Dashboard</a></li>
                <li><span class="text-gray-500 mx-2">></span></li>
                <li class="text-gray-500">Stok</li>
              </ol>
            </nav> 

            <div class="mt-2 px-4 py-4 bg-white">  
              <div class="md:flex md:flex-1">
                <div class="w-full relative mb-2 bg-red-200 md:w-1/2 md:mb-0">
                  <input
                    type="text"
                    class="
                      form-control
                      block
                      w-full
                      px-2
                      py-1
                      text-sm
                      font-normal
                      text-gray-700
                      bg-white bg-clip-padding
                      border border-solid border-gray-300 
                      transition
                      ease-in-out
                      m-0
                      focus:text-gray-700 focus:bg-white focus:border-blue-200 focus:outline-none
                    " 
                    placeholder="Cari Barang"
                    v-model="caribarang"
                  />  
                  <div class="flex absolute inset-y-0 right-0 items-center pr-2 pointer-events-none">
                    <SearchIcon class="h-4 w-4" aria-hidden="true" />                      
                  </div> 

                </div>
                <div class="w-full flex gap-1 md:justify-end md:w-1/2">
                  <button type="button" 
                    class="inline-flex items-center 
                    px-2.5 py-1.5 
                    border border-transparent 
                    text-xs font-medium 
                    rounded shadow-sm 
                    text-white 
                    bg-[#5DB025] 
                    hover:bg-lime-600
                    focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-green-400
                    "
                    v-on:click="openaddproduk">Tambah Produk</button> 
                  <button type="button" 
                    class="inline-flex items-center 
                    px-2.5 py-1.5 
                    border border-transparent 
                    text-xs font-medium 
                    rounded shadow-sm 
                    text-white bg-indigo-600 hover:bg-indigo-700 
                    focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-indigo-500
                    " v-on:click="openaddmutasi">Mutasi</button>  
                </div>
              </div>

              <div class="overflow-x-auto mt-5">
                <div class="shadow ring-1 ring-black ring-opacity-5 md:rounded-sm">
                  <table class="min-w-full divide-y divide-gray-300 mb-2">
                    <thead class="bg-gray-50">
                      <tr>
                        <th scope="col" class="py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Tipe</th>
                        <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Merk</th>
                        <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Nama</th>
                        <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Tag</th>
                        <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Ukuran</th>
                        <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Stok</th> 
                        <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900"></th> 
                         
                      </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 bg-white">
                      <tr v-for="dt in people" :key="dt.email">
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{ dt.name }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ dt.title }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ dt.email }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ dt.role }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ dt.role }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ dt.role }}</td>
                        <td class="text-sm px-4 w-24">
                          <div class="flex gap-1 justify-center">
                            <button
                              type="button"
                              class="bg-gray-300 p-1 rounded-md
                                text-white
                                hover:text-blue-500 
                                focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-gray-500"
                                v-on:click="openviewproduk(dt)"
                            > 
                              <eyeIcon class="h-4 w-4 md:h-6 md:w-6" aria-hidden="true" />
                            </button>
                            <button
                              type="button"
                              class="bg-[#CCCCCC] p-1 rounded-md
                                text-white
                                hover:text-blue-500 
                                focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-gray-500"
                            > 
                              <PencilIcon class="h-4 w-4 md:h-6 md:w-6" aria-hidden="true" />
                            </button>
                            <button
                              type="button"
                              class="bg-gray-300 p-1 rounded-md
                                text-white 
                                hover:text-blue-500 
                                focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-gray-500"
                            > 
                              <TrashIcon class="h-4 w-4 md:h-6 md:w-6" aria-hidden="true" />
                            </button>
                          </div>
                        </td> 
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </div>

              

              
            </div>
          </div> 
        </div> 

         

      </main>  
      
      <AddProdukCom @showaddproduk="handleAddProduk" :showaddproduk="showaddproduk" /> 
      <AddMutasiCom @showaddmutasi="handleAddMutasi" :showaddmutasi="showaddmutasi" /> 
      <ViewProdukCom @showviewproduk="handleViewProduk" :showviewproduk="showviewproduk" :data="itemproduk" /> 

      
       
    </div>
  </div> 
</template>
     