<script setup>
  import { RouterLink, RouterView } from "vue-router";   
  import { ref  } from "vue";  
  import axios from "axios"; 
  import Constant from "@/components/Constant.vue"; 
  import { useToast } from "vue-toastification";  
 
  const toast = useToast(); 
  const props = defineProps({
    showresetpass: {
      type: Boolean,
      default: false,
    },
    em_hash: {
      type: String,
      default: "",
    }, 
    nama: {
      type: String,
      default: "",
    }, 
  });

  const emit = defineEmits(["showresetpass"]);  

  function close() {
    emit("showresetpass", false);
  }

  function simpan(){   
    if(localStorage.getItem('token') != "" && localStorage.getItem('token') != null){  
      axios.post(Constant.API_ADDR + "v1/employee/reset-password", 
      { em_hash : props.em_hash }, 
      {
        headers: {
          'x-api-key': localStorage.getItem('token')
        }
      }).then((response) => {         
        toast.success("Sukses mereset password"); 
        emit("showresetpass", false);  
      })
      .catch((errros) => {  
        if(errros.response.status == 400)
        {
          var psn  = errros.response.data.error   
          if(typeof(psn) != "string")
          { 
            var keys = Object.keys(psn) 
            for(var i= 0; i < keys.length;i++)
            {           
              toast.error(psn[keys[i]][0]);  
            }  
          }
          else
          { 
            toast.error(errros.response.data.error); 
          } 
        } 
      });   
    }  
  }  

</script> 
 
<template>       
  <div v-if = "props.showresetpass" 
    class="overflow-x-hidden 
    overflow-y-auto fixed inset-0 z-50   
    outline-none        
    focus:outline-none     
    justify-center items-start flex p-5 mt-20">
    
    <div class="relative w-auto my-6 mx-auto w-sm rounded-2xl">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col 
        w-full bg-white 
        outline-none 
        focus:outline-none 
      ">
        <!--header-->
        <div class="flex 
          items-center justify-center 
          p-2 
          rounded-md"
        >
          <h5 class="text-md font-bold mt-1 ml-2">
            Konfirmasi
          </h5> 
        </div>
        <!--body-->        
        <div class="relative p-2 text-sm font-semibold text-center "> 
          <div class="mx-8 flex justify-center content-center">
            Reset Password {{ props.nama }} 
          </div>
        </div>
       
        <!--footer-->
        <div class="flex items-between justify-between p-6 rounded-b">
          <button class="text-white 
            bg-[#1B74ED]
            border border-solid border-[#1B74ED] hover:bg-blue-700 hover:text-white
            active:bg-blue-600 font-bold 
            text-sm px-4 py-2 rounded 
            outline-none 
            focus:outline-none mr-1 mb-0 ease-linear transition-all duration-150" 
            type="button" v-on:click="close">
            Batal
          </button> 
          <button class="text-white 
            bg-[#1B74ED]
            border border-solid border-[#1B74ED] hover:bg-blue-700 hover:text-white
            active:bg-blue-600 font-bold 
            text-sm px-4 py-2 rounded 
            outline-none 
            focus:outline-none mr-1 mb-0 ease-linear transition-all duration-150" 
            type="button" v-on:click="simpan">
            Reset
          </button>  
        </div>
      </div>
    </div>
  </div>  
</template>
