<script setup>
  import { RouterLink, RouterView } from "vue-router";   
  import { ref  } from "vue";  
  import FDatePicker from '@/components/forms/FDatePicker.vue'  
  import dayjs from 'dayjs' 
  import FInputFile from "@/components/forms/FInputFile.vue"
  import axios from "axios"; 
  import Constant from "@/components/Constant.vue"; 
  import { useToast } from "vue-toastification";

  import { 
    CalendarIcon,
  } from "@heroicons/vue/outline";    

  const toast = useToast(); 
  const props = defineProps({
    showreaktif: {
      type: Boolean,
      default: false,
    },
    em_hash: {
      type: String,
      default: "",
    },
    noktp: {
      type: String,
      default: "",
    },
    nama: {
      type: String,
      default: "",
    },
    posisi: {
      type: String,
      default: "",
    },
  });

  const emit = defineEmits(["showreaktif"]); 
  const tglresign = ref("")
  const alasan = ref("")
  const password = ref("")
     
   
  function close() {
    emit("showreaktif", false);
  }

  function simpan(){ 
    if(localStorage.getItem('token') != "" && localStorage.getItem('token') != null){
      let formData = new FormData(); 
      formData.append('em_hash', props.em_hash );
      formData.append('date', dayjs(tglresign.value).format('YYYY-MM-DD'));
      formData.append('note', alasan.value);
      formData.append('password', password.value);
      formData.append('document', fileName.value); 

      axios.post(Constant.API_ADDR + "v1/employee/reactivate", 
      formData, 
      {
        headers: {
          'x-api-key': localStorage.getItem('token')
        }
      }).then((response) => {         
        toast.success("Sukses menyimpan data"); 
        emit("showreaktif", false);  
      })
      .catch((errros) => {  
        if(errros.response.status == 400)
        {
          var psn  = errros.response.data.error   
          if(typeof(psn) != "string")
          { 
            var keys = Object.keys(psn) 
            for(var i= 0; i < keys.length;i++)
            {           
              toast.error(psn[keys[i]][0]);  
            }  
          }
          else
          { 
            toast.error(errros.response.data.error); 
          } 
        } 
      });   
    }  
  }
 
  const filePreview = ref("")
  const fileName = ref("")
  function captureFile($event) {  
    filePreview.value = $event.previewBase64;
    fileName.value = $event.name;
  }
  

</script> 
 
<template>       
  <div v-if = "props.showreaktif" 
    class="overflow-x-hidden 
    overflow-y-auto fixed inset-0 z-50   
    outline-none        
    focus:outline-none     
    justify-center items-start flex p-5 mt-20">
    
    <div class="relative w-full my-6 mx-auto max-w-3xl">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col 
        w-full bg-white 
        outline-none 
        focus:outline-none 
      ">
        <!--header-->
        <div class="flex 
          items-start justify-between 
          p-2 
          rounded-sm"
        >
          <h5 class="text-sm font-semibold mt-1 ml-2">
            Reaktivasi
          </h5>
          <button class="p-1
            bg-blue
            border-0 
            text-gray-900
            text-xl 
            leading-none 
            font-semibold outline-none 
            focus:outline-none
            hover:text-blue-400
            hover:uppercase 
            " 
            v-on:click="close">x            
          </button>
        </div>
        <!--body-->        
        <div class="relative p-2"> 
          <div class="w-full px-2 gap-2 grid grid-cols-3 mb-2 ">
            <label class="block text-sm font-medium text-gray-700">No KTP</label>
            <label class="col-span-2 block text-sm font-medium text-gray-700">: {{ props.noktp }}</label>
            
            <label class="block text-sm font-medium text-gray-700">Nama</label>
            <label class="col-span-2 block text-sm font-medium text-gray-700">: {{ props.nama  }}</label>

            <label class="block text-sm font-medium text-gray-700">Posisi</label>
            <label class="col-span-2 block text-sm font-medium text-gray-700">: {{ props.posisi }}</label> 
          </div>
          <hr />
          <div class="grid grid-cols-3 py-2 px-2 gap-2 mb-2 mt-2">
            <label class="block text-sm font-medium text-gray-700">Tanggal</label>
            <f-date-picker
              v-model="tglresign"
              class="w-full flex-grow md:flex-grow-0 max-w-full text-sm col-span-2"
              clearable
              placeholder="Pilih Tanggal Reaktivasi"
              >
              <template #icon>
                <CalendarIcon class="text-gray-600 h-4 w-4" aria-hidden="true" /> 
              </template>
            </f-date-picker> 

            <label class="block text-sm font-medium text-gray-700">Dokumen</label>
            <div class="col-span-2 h-90">
              <img v-if="filePreview" :src="filePreview" alt="fileName" style="max-height: 256px">
              <FInputFile @file-updated="captureFile($event)"></FInputFile>  
            </div>
           

            <label class="block text-sm font-medium text-gray-700">Alasan</label>
            <textarea rows="3" class="col-span-2 block w-full py-2 px-2
              text-gray-700 
              border border-gray-200  
              focus:outline-none focus:bg-gray-50
              text-sm rounded-md" 
            placeholder="Masukan alasan"
            v-model="alasan" />

            <label>Password</label>
            <input
                type="password"
                class="col-span-2
                appearance-none block w-full text-sm
                text-gray-700 
                border border-gray-200 
                rounded-sm py-2 px-2 
                focus:outline-none focus:bg-gray-50
                " 
                placeholder="Password" 
                v-model="password"
              />  
          </div> 
        </div>
       
        <!--footer-->
        <div class="flex items-center justify-end p-6 rounded-b">
          <button class="text-white 
            bg-[#1B74ED]
            border border-solid border-[#1B74ED] hover:bg-blue-700 hover:text-white
            active:bg-blue-600 font-bold 
            text-sm px-4 py-2 rounded 
            outline-none 
            focus:outline-none mr-1 mb-0 ease-linear transition-all duration-150" 
            type="button" v-on:click="simpan">
            Simpan
          </button> 
          <button class="text-white 
            bg-gray-400
            border border-solid border-gray-400 hover:bg-gray-600 hover:text-white
            active:bg-gray-400 font-bold 
            text-sm px-4 py-2 rounded 
            outline-none 
            focus:outline-none mr-1 mb-0 ease-linear transition-all duration-150" 
            type="button" v-on:click="close">
            Batal
          </button>  
        </div>
      </div>
    </div>
  </div>  
</template>
