<script setup> 
  import { ref, computed } from "vue";   
  const emits = defineEmits(['file-updated'])  
 
  function onFileChange($event) {
    const file = $event.target.files[0]
    const reader = new FileReader()
    if (file) {
      reader.readAsDataURL(file)
      reader.onload = () => {
        // Set a new property on the captured `file` and set it to the converted base64 image
        file.previewBase64 = reader.result
        // Emit the file with the new previewBase64 property on it
        emits('file-updated', file)
      }
      reader.onerror = (error) => {
        console.log('Error ', error)
      }
    }
  }
 

</script>

<style scoped>
  .hide-file-input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .file-label {
    color: #fff; 
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  input[type='file']:focus + .file-label {
    box-shadow: 0 0 0 4px #bae6fd;
  }
  </style>

<template>  
  <div class="mt-4 mb-2"> 
    <input
      id="file-input"
      class="hide-file-input"
      type="file"
      accept="image/*"
      @change="onFileChange($event)"
    />
    <label class="file-label bg-blue-500 hover:bg-blue-600" for="file-input"> Upload a file </label> 
  </div> 
</template>
