<script setup>
  import { RouterLink, RouterView } from "vue-router";   
  import { ref, computed, onMounted, onBeforeMount } from "vue";  
   
  const emits = defineEmits(['pagechanged']) 
  const props = defineProps({ 
    maxVisibleButtons: {
      type: Number,
      required: false,
      default: 3
    },    
    totalPages: {
      type: Number,
      required: true
    },
    perPage: {
      type: Number,
      required: true
    },
    currentPage: {
      type: Number,
      required: true
    } 
  });  

  const startPage = computed(() => {
    // When on the first page
    if (props.currentPage === 1) {
      return 1;
    } 
    // When on the last page
    if (props.currentPage === props.totalPages) {
      return props.totalPages - props.maxVisibleButtons;
    } 
    // When inbetween
    return props.currentPage - 1; 
  })

  const isInFirstPage = computed(() => {     
    return props.currentPage === 1
  })

  const isInLastPage = computed(() => {     
    return props.currentPage === props.totalPages;
  }) 
  
  const pages = computed(() => {      
    const range = []; 
      for (
        let i = startPage.value;
        i <= Math.min(startPage.value + props.maxVisibleButtons , props.totalPages);
        i++
      ) { 
        if(i > 0){
          range.push({
            name: i,
            isDisabled: i === props.currentPage
          });
        }
      }  
      return range;
  })

  function onClickFirstPage() { 
    emits('pagechanged', 1)
  }
  function  onClickPreviousPage() {
    emits('pagechanged', props.currentPage -1) 
  }
  function  onClickPage(page) {  
    emits('pagechanged', page) 
  }
  function  onClickNextPage() { 
    emits('pagechanged', props.currentPage + 1) 
  }
  function onClickLastPage() { 
    emits('pagechanged', props.totalPages ) 
  }

  function isPageActive(page) {
    return props.currentPage === page;
  }
 

</script>

<style> 
  .active {
    background-color: #ae4a4a; 
  }
</style>

<template>  
  <div class="text-center mt-4 mb-5">
    <ul class="list-none">
      <li class="inline-block">
        <button
          type="button"
          class="inline-flex items-center 
          px-2.5 py-1.5 
          border border-1 
          text-xs font-medium 
          shadow-sm 
          text-white 
          bg-blue-500 
          hover:bg-blue-600
          focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-blue-500 disabled:bg-slate-400"
          @click="onClickFirstPage"
          :disabled="isInFirstPage"
        >
          First 
        </button>
      </li>

      <li class="inline-block">
        <button
          type="button"
          @click="onClickPreviousPage"
          :disabled="isInFirstPage"
          class="inline-flex items-center 
          px-2.5 py-1.5 
          border border-1 
          text-xs font-medium 
          shadow-sm 
          text-white 
          bg-blue-500 
          hover:bg-blue-600
          focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-blue-500 disabled:bg-slate-400"
        >
          Previous
        </button>
      </li> 
      <!-- Visible Buttons Start --> 
      <li class="inline-block"
        v-for="page in pages"
        :key="page.name"
      >
        <button
          type="button" 
          class="inline-flex items-center 
          px-2.5 py-1.5 
          border border-1 
          text-xs font-medium 
          shadow-sm 
          text-white 
          bg-blue-500 
          hover:bg-blue-600
          focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-blue-500 disabled:bg-slate-400"
          :class="{ active: isPageActive(page.name) }"
          @click="onClickPage(page.name)"
          :disabled="page.isDisabled" 
        >
          {{ page.name }}  
        </button>
      </li> 
      <!-- Visible Buttons End -->

      <li class="inline-block">
        <button
          type="button"
          class="inline-flex items-center 
          px-2.5 py-1.5 
          border border-1 
          text-xs font-medium 
          shadow-sm 
          text-white 
          bg-blue-500 
          hover:bg-blue-600
          focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-blue-500 disabled:bg-slate-400"
          @click="onClickNextPage"
          :disabled="isInLastPage"
        >
          Next
        </button>
      </li>

      <li class="inline-block">
        <button
          type="button"
          class="inline-flex items-center 
          px-2.5 py-1.5 
          border border-1 
          text-xs font-medium 
          shadow-sm 
          text-white 
          bg-blue-500 
          hover:bg-blue-600
          focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-blue-500 disabled:bg-slate-400"
          @click="onClickLastPage"
          :disabled="isInLastPage"
        >
          Last
        </button>
      </li>
    </ul> 
  </div> 
</template>
